/* 공통 부분 */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  /* color */
  --color-blue: #3e93cd;

  /* size */
  --slide-width: 12.4166vw;
  --slide-margin: 1.5625vw;

  /* font-size */
}

html {
  /* 1920px 기준 16.0000128px */
  font-size: 0.833334vw;
}

section {
  /* width: 100vw; */
  /* 1060px == 66.25em */
  height: 66.25em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 70%;
  margin: 0 auto;
}

/* 초기화 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular';
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

/* 컨테이너 텍스트 부분 */

#inner_carousel {
  background-color: #f0f2f9;
}

#inner_carousel .container_section {
  display: flex;
  justify-content: flex-end;
}

#outer_carousel .container_section {
  display: flex;
  justify-content: flex-start;
}

#inner_carousel .container_text {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: 4.375em;
}

#outer_carousel .container_text {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 4.375em;
}

#inner_carousel .container_text div.container_text_main {
  font-size: 3.125rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: flex-end;
}

#outer_carousel .container_text div.container_text_main {
  font-size: 3.125rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: flex-start;
}

.container_text div .blue_color {
  color: var(--color-blue);
}

#inner_carousel .container_text p {
  text-align: right;
  line-height: 1.5;
}

#outer_carousel .container_text p {
  text-align: left;
  line-height: 1.5;
}

.container_text p:nth-child(3) {
  margin-bottom: 1.25rem;
}

/* inner img */

.inner {
  width: 57%;
}

.inner img {
  width: 100%;
  border-radius: 10px;
}

/* 컨트롤 */
.controls i:nth-child(1),
.controls i:nth-child(2) {
  font-size: 2.083vw;
  color: #777586;
  cursor: pointer;
  padding: 0.5vw 0.7vw;
  background: rgba(255, 255, 255, 0.7);

  position: relative;
  bottom: 3.3vw;
  left: 33.7vw;

  border-radius: 5%;
}

.controls i:nth-child(2) {
  border-bottom-right-radius: 12%;
}

#inner_carousel .controls {
  /* 안보이지만 공간은 차지하게 하기 위해서 */
  visibility: hidden;
}

/* 슬라이드 */


.slides img {
  cursor: pointer;
}

.slide_wrapper {
  position: relative;
  /* 5개의 이미지와 4개의 마진을 계산 */
  width: 68.333vw;
  margin: 0 auto;
  height: 19.625vw;
  overflow: hidden;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
}

.slides.animated {
  transition: 0.5s ease-out;
}

.slides div {
  width: var(--slide-width);
  height: 18.625vw;
  /* background: #ccc; */
  float: left;
  /* border-radius: 50%; */
}


.slides div:not(:last-child) {
  margin-right: var(--slide-margin);
}

.slides div p:nth-child(2) {
  margin-top: 1.25rem;
}

.slides div p:nth-child(3) {
  margin-top: 2.5rem;
}

.slides div p.main_text {
  font-size: 1.5rem;
  font-weight: bold;
}

.slides div p:nth-child(2) {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.slides div .sub_text {
  font-weight: 500;
  font-size: 1.125rem;
  margin-top: 1.2rem;
}


.slides div img {
  width: var(--slide-width);
  height: var(--slide-width);
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  /* transition: all 0.2s linear; */

  filter: brightness(50%);
}

/* .slides div img:hover {
  transform: scale(1.1);
} */

@media only screen and (max-width: 1010px) {
  section {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;

    padding-top: 25.5814em;
    padding-bottom: 25.5814em;
  }

  main .wrap {
    width: 90%;
  }

  .inner {
    width: 100%;
  }

  .inner img {
    width: 100%;
    border-radius: 10px;

    margin-top: 11.6279rem;
    margin-bottom: 3rem;
  }

  :root {
    /* size */
    --slide-width: 16vw;
    --slide-margin: 1.8vw;
  }

  .slide_wrapper {
    /* 5개의 이미지와 4개의 마진을 계산 */
    width: 87.2vw;
    height: 38vw;
  }

  .slides div p:not(:first-child) {
    margin-top: 4.6512rem;
  }

  .slides div p:nth-child(2) {
    font-weight: bold;
    font-size: 2.7907rem;
  }

  .slides div .text_wrap p {
    font-weight: bold;
    font-size: 2.7907rem;
  }

  #inner_carousel .controls {
    /* 안보이지만 공간은 차지하게 하기 위해서 */
    visibility: hidden;
  }

  #inner_carousel .container_text div.container_text_main,
  #outer_carousel .container_text div.container_text_main {
    font-size: 8.3721rem;
    text-align: left;
    display: block;
    line-height: 1.2;

    margin-bottom: 4.6512rem !important;
  }

  .slides div p.main_text {
    margin-top: 1rem !important;
    font-size: 2.65rem !important;
    font-weight: bold;
  }

  .slides div p.sub_text {
    font-size: 2.3256rem !important;
  }

  .slides div.container_text p.main_text:nth-child(2) {
    margin-top: 2rem;
  }

  .container_text p:nth-child(3) {
    margin-bottom: 4.6512rem !important;
  }

  .img_mb {
    margin-bottom: 1rem;
  }

  #inner_carousel .container_text,
  #outer_carousel .container_text {
    width: 100%;
  }

  #inner_carousel .container_text,
  #outer_carousel .container_text {
    margin-right: 0;
    margin-left: 0;
  }

  #inner_carousel .container_text p,
  #outer_carousel .container_text p {
    text-align: left;
    line-height: 1.5;
    font-size: 2.7907vw;
  }

  #inner_carousel .container_section {
    flex-direction: column;
  }

  #outer_carousel .container_section {
    flex-direction: column-reverse;
  }

  .controls i:nth-child(1),
  .controls i:nth-child(2) {
    font-size: 5vw;
    padding: 2vw 3vw;

    bottom: 9.4vw;
    left: 0.4vw;
  }

  .controls i:nth-child(1) {
    border-bottom-left-radius: 12%;

  }

  .controls i:nth-child(2) {
    border-bottom-right-radius: 0;

  }
}