@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  margin-bottom: 0 !important;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}
li {
  display: inline-block;
  text-decoration: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}
h2 {
  font-size: 2.083333vw;
  font-weight: bold;
}
section {
  width: 100vw;
  /* 1060px == 66.25em */
  height: 66.25em;

  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  /* 1920px 기준 16.0000128px */
  font-size: 0.833334vw;
}
#main_video {
  outline: none;
  border: none;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
/*해더부분*/
header #gnb {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
header #gnb h4 {
  font-size: 0.9rem;
  line-height: 1.35rem;
}

header #gnb ul li a {
  font-size: 0.9rem;
  line-height: 1.35rem;
  color: white;
}
.navbar {
  width: 70%;
  padding: 0;
  margin: 0 auto;
  font-size: 1rem;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav .nav-link.active {
  color: black;
}
.collapse > .navbar-nav {
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color: black;
  --bs-nav-link-disabled-color: black;
}
/*해더 메인이미지*/
.header_main {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.header_main > div:first > img {
  width: 100%;
}

.header_main > .sc_icon > img {
  width: 30px;
  position: absolute;
  bottom: 40px;
  left: calc(50% - 15px);
  animation: upDown 1.5s ease-in-out infinite;
}
@keyframes upDown {
  0% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(-7px);
  }
}

/* EVENT_TEXT */
main .wrap .event_text {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

main .wrap .event_text p {
  font-size: 24px;
  text-decoration: underline;
}
/* EVENT 그리드 */
main .wrap {
  width: 70%;
  margin: 0 auto;
}
main .wrap .grid {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-template-areas:
    "a a f f "
    "b c f f "
    "d e f f";
}

main .wrap .grid img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
main .wrap .grid div {
  border-radius: 10px;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  border-left: 1px solid rgb(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.4);
}
#item1 {
  grid-area: a;
  border: 1px solid rgb(0, 0, 0, 0.1);
}
#item2 {
  grid-area: b;
}
#item3 {
  grid-area: c;
}
#item4 {
  grid-area: d;
}
#item5 {
  grid-area: e;
}
#item6 {
  grid-area: f;
}

.ut_wrap div {
  width: 50%;
}

/* 현장스케치 유투브 */
/* 현장스케치 텍스트 */
#scene_sketch .text_sketch {
  text-align: center;
  margin-top: 58px;
}
#scene_sketch .text_sketch p {
  font-size: 20px;
}

.video_wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video_wrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.row > * {
  padding: 0 12px;
}
