@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  margin-bottom: 0 !important;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}
ul {
  padding-left: 0;
}
li {
  display: inline-block;
  text-decoration: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}
h2 {
  font-size: 2.083333vw;
  font-weight: bold;
}
section {
  /* width: 100vw; */
  /* 1060px == 66.25em */
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  width: 70%;
  margin: 0 auto;
}

html {
  /* 1920px 기준 16.0000128px */
  font-size: 0.833334vw;
}

/*해더부분*/
header #gnb {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
header #gnb .gnb_branch {
  width: 55%;
}
header #gnb .gnb_branch li {
  text-align: center;
  width: 22%;
}
header #gnb .gnb_branch li a {
  width: 100%;
  height: 100%;
  color: white;
}
header #gnb .gnb_branch li a input {
  display: none;
}
header #gnb .gnb_branch li a label {
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.5rem;
  vertical-align: bottom;
}
header #gnb .gnb_branch li a input:checked ~ label {
  background-color: white;
  color: #3e93cd;
}

header #gnb .gnb_login li {
  margin: 0 5px;
}

header #gnb .gnb_login li a {
  font-size: 0.9rem;

  padding: 0 5px;
  color: white;
}

.navbar {
  width: 70%;
  padding: 0;
  margin: 0 auto;
  font-size: 1rem;
}
.navbar-brand img {
  width: 80%;
  transition: 0.3s;
}
.navbar-brand.scdown img {
  width: 60%;
}
#navbarNav {
  transition: 0.3s;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav .nav-link.active {
  color: black;
}
.collapse > .navbar-nav {
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color: black;
  --bs-nav-link-disabled-color: black;
}
.nav-item {
  padding-left: 1.5em;
  font-size: 1.3rem;
  font-weight: 500;
}

/* 토글 */
/* 사이드 + 토글  */
.navbar-toggler {
  border: none;
}
input[id="menuToggle"] {
  display: none;
}
input[id="menuToggle"] + label {
  display: block;
  width: 25px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 555;
}
input[id="menuToggle"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 30px;
  background: #000;
  transition: all 0.35s;
}
input[id="menuToggle"] + label span:nth-child(1) {
  top: 0;
}
input[id="menuToggle"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="menuToggle"] + label span:last-child {
  bottom: 0;
}

input[id="menuToggle"]:checked + label span:nth-child(1) {
  top: 50%;
  background-color: #fff;
  transform: translateY(-50%) rotate(45deg);
}
input[id="menuToggle"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="menuToggle"]:checked + label span:last-child {
  bottom: 50%;
  background-color: #fff;
  transform: translateY(50%) rotate(-45deg);
}

.sidebar {
  width: 70%;
  height: 100vh;
  background-color: #3e93cd;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1;
  transition: all 0.35s;
}
input#menuToggle:checked + label + div {
  right: 0;
}

.sidebar {
  padding-top: 80px;
  opacity: 90%;
}
.accordion {
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-icon-width: 3rem;
  --bs-accordion-btn-icon: url("../images/insta.png") !important;
}
.accordion-button::after {
  background-image: url("../images/arrowdown.png") !important;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  width: 81.1%;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  padding: 5px;
}
.accordion-button.collapsed {
  background-color: #3e93cd;
  box-shadow: 0;
}
.accordion-button:not(.collapsed) {
  background-color: #3e93cd;
  box-shadow: 0 !important;
}

.accordion-item {
  border: 0;
  background-color: 0;
  padding: 5px 20px;
  color: white;
  font-size: 2.5rem;
  position: relative;
}
.accordion-item::after {
  content: "";
  width: 120%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid white;
}

.background {
  background-color: #f0f2f9;
  position: relative;
}
/* ul */
.title > ul {
  border-bottom: 1px solid rgb(204, 204, 204, 0.8);
}
.title > ul > li {
  padding: 1rem;
}
.title > ul > li:last-child > a {
  color: #3e93cd;
}
.wrap h1 {
  margin: 1rem 0;
  position: absolute;
  top: 18%;
  z-index: 999;
}
/* location box */
.location {
  background-color: rgb(255, 255, 255, 0.8);
  padding: 0.5rem;
  width: 20%;
  top: 30%;
  position: absolute;
  z-index: 999;
}

.text_wrap {
  padding: 1rem;
  margin-bottom: 2rem !important;
}
.location p {
  padding: 3px;
}

button {
  margin: 0 auto;
  color: #656565;
  padding: 4px;
  border: 1px solid rgb(0, 0, 0, 0.3);
  width: 80%;
  background-color: transparent;
}

/* 글자크기 */
.text_main {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.text_title {
  font-size: 1.5rem;
  font-weight: bold;
}
.text_text {
  font-size: 1rem;
}

/* 푸터 */
/* 푸터 텍스트 */

.footer_text {
  font-size: 0.75rem;
  color: #ccc;
}
.footer_sns > div:nth-child(2) img {
  height: 34px;
  width: 34px;
  padding: 2px;
}
.gm-style-mtc button {
  width: 100px;
}

@media only screen and (max-width: 576px) {
  .wrap h1 {
    display: none;
  }
  .location {
    display: none;
  }
}
