/* 공통 부분 */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  /* color */
  --color-blue: #1852d8;

  /* size */
  --slide-width: 12.4166vw;
  --slide-margin: 1.5625vw;

  /* font-size */
}

html {
  font-size: 0.83333vw;
}

/* 초기화 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular';
}

li {
  list-style: none;
}

/*  */

.wrap {
  width: 70%;
  margin: 0 auto;
}

.container_section {
  display: flex;
  justify-content: flex-end;
}

/* 1920 기준 1vw = 19.2px */

.container_text {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* padding-left: 0.625em; */
  margin-right: 4.375em;
}

.container_text div.container_text_main {
  font-size: 3.125rem;
  text-align: right;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.container_text div .blue_color {
  color: var(--color-blue);
}

.container_text p {
  text-align: right;
}

.container_text p:nth-child(3) {
  margin-bottom: 1.25em;
}

/* inner img */

.inner {
  width: 57%;
}

.inner img {
  width: 100%;
  border-radius: 10px;
}

/* 컨트롤 */
.controls i:nth-child(1),
.controls i:nth-child(2) {
  font-size: 2.083vw;
  color: #777586;
  cursor: pointer;
  padding: 0.5vw 0.7vw;
  background: rgba(255, 255, 255, 0.7);

  position: relative;
  bottom: 3.5vw;
  left: 30.3vw;

  border-radius: 5%;
}

.controls i:nth-child(1) {
  border-bottom-left-radius: 12%;
}

/* 슬라이드 */


.slides img {
  cursor: pointer;
}

.slide_wrapper {
  position: relative;
  /* 5개의 이미지와 4개의 마진을 계산 */
  width: 68.333vw;
  margin: 0 auto;
  height: 18.625vw;
  overflow: hidden;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
}

.slides.animated {
  transition: 0.5s ease-out;
}

.slides div {
  width: var(--slide-width);
  height: 18.625vw;
  /* background: #ccc; */
  float: left;
  /* border-radius: 50%; */
}

.slides div:not(:last-child) {
  margin-right: var(--slide-margin);
}

.slides div p:not(:first-child) {
  margin-top: 1.25rem;
}

.slides div p:nth-child(2) {
  font-weight: bold;
  font-size: 1.5rem;
}

.slides div p:nth-child(3) {
  font-weight: 500;
  font-size: 1.125rem;
}

.slides img {
  width: var(--slide-width);
  height: var(--slide-width);
  border-radius: 50%;
}